<div class="hero-image-container">
  <img class="hero-image" src="assets/images/shadowlands-no-top.png" />
  <h1 class="page-name">Resources</h1>
</div>

<div class="container margin-top text-white">
  <h2>Icy Veins</h2>
  <p>Icy Veins is usually a good place to start for learning a new class and specialization.</p>

  <h2>Wowhead</h2>
  <p>
    Wowhead is an incredible website if you use uBlock Origin.
    Without it, it is a taxing and almost unbearable resource hog.
  </p>


  <h2>Class Discords</h2>
  <p>
    Class discords have the advantage of being populated by some of the best players in the game,
    as well as existing in real time, rather than possibly stale information on a website.

    It can be a little harder to find information, but they are extremely helpful and knowledgeable once you get used to them.

    They also usually have guides that are found nowhere else, but these can be outdated just like websites.
  </p>

  <ul>
    <li>Death Knight: Acherus</li>
    <li>Demon Hunter: The Fel Hammer</li>
    <li>Druid: Dreamgrove</li>
    <li>Hunter: Trueshot Lodge & Warcraft Hunter's Union </li>
    <li>Mage: Hall of the Guardians</li>
    <li>Monk: PeakOfSerenity</li>
    <li>Paladin: Hammer of Wrath</li>
    <li>Priest: Warcraft Priests & Focused Will</li>
    <li>Rogue: Ravenholdt</li>
    <li>Shaman: Earthshrine & Ancestral Guidance (Restoration)</li>
    <li>Warlock: Council of the Black Harvest</li>
    <li>Warrior: Skyhold</li>
</ul>

  <h2>Bloodmallet</h2>
  <p>Bloodmallet is an impressive website that allows you to check the performance of Azerite traits, essences, trinkets, races, secondary stats, and allows you to do so against a single target encounter (listed as Patchwerk) or a more realistic simulation of your performance in a Mythic+ dungeon. (listed as HecticAddCleave)
  This allows you to get a quick sense of what might be the best route for your character without the hassle of simulating it completely. That being said, simulating your character is the most precise way to get the most out of your character if you have the time to devote to doing it.</p>

  <h2>Raidbots</h2>
  <p>Raidbots allows you to simulate your character's performance by importing your information from the World of Warcraft Armory or the in-game Simulationcraft addon. By adjusting things manually or by importing and simulating multiple gear/talent/azerite scenarios, you are better able to narrow down to the best load-out for any situation.</p>
</div>
