.mat-column-rank {
  width: 25%
}

.mat-column-name {
  width: 25%
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

mat-card.mat-elevation-z4 {
  box-shadow: 0 2px 4px -1px rgba(255,0,0,1), 0 4px 5px 0 rgba(255,0,0,1), 0 1px 10px 0 rgba(255,0,0,1);
}
