.mat-column-rank {
  width: 25%
}

.mat-column-name {
  width: 25%
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.char-tagline {
  font-size: 12px;
  align-items: center;
  display: inline-flex;
}

mat-card:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 14px black;
}

mat-card {
  transition: 0.5s ease;
  margin: 30px;
}

::ng-deep.mat-card-header-text, .mat-card-title {
  width: 100% !important;
}

.mat-card-title {
  display: flex;
  justify-content: space-between;
}

.thumbnail {
  width: 280px;
  max-height: 250px;
  transform: scale(2);
  margin-top: 50px !important;
}

.hide-overflow{
  height: 300px;
  width: 250px;
  overflow:hidden;
  margin-left:8px;
}

.mat-raised-button{
  margin: 0 8px !important;
}

.guild-leader-container {
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 0px -16px -16px 0px;
}

.officers-container {
  flex-flow: wrap;
  box-sizing: border-box;
  display: flex;
  place-content: stretch space-evenly;
  align-items: stretch;
  justify-content: center;
  margin: 0px -16px -16px 0px;
}

.char-link-icons {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.link-buttons{
    display:flex;
    justify-content:space-around;
}
