<div class="hero-image-container">
  <img class="hero-image" src="assets/images/shadowlands-no-top.png" />
  <span class="header-text-container">
    <h1 class="page-name fadeInBottom">Mythic+</h1>
  </span>
</div>

<mat-tab-group [dynamicHeight]='true' mat-align-tabs="center">
  <mat-tab label="Top Twenty">
    <div class="container" style="font-size: 12px">
      <table score-table mat-table class='center mat-elevation-z8' *ngIf="allScores && allScores.length > 0" [dataSource]="allScores.slice(0,20)">
        <ng-container matColumnDef="rank">
            <th mat-header-cell *matHeaderCellDef> Rank </th>
            <td mat-cell *matCellDef="let score"> {{score.rank}}
        </ng-container>
        <ng-container matColumnDef="class">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let score"> <img class="class-icon" src='{{"assets/images/" + score.char_class + ".png"}}' height="35px" width="35px"> </td>
          </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let score"> {{score.name | titlecase}} </td>
          </ng-container>
          <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef> Score </th>
            <td mat-cell *matCellDef="let score"> {{score.score}} </td>
          </ng-container>
          <ng-container matColumnDef="tier">
            <th mat-header-cell *matHeaderCellDef> Tier </th>
            <td mat-cell matTooltip='{{score.bracket}}' matTooltipPosition="left" *matCellDef="let score">
              <img class='tier-icon'  src='{{"assets/images/tier-" + score.tier + ".png"}}' height="25px" width="25px" aria-hidden="false" aria-label="tier star">
              <img *ngIf='score.stars >= 0' class='star-icon' src='{{"assets/images/star.png"}}' height="15px" width="15px" aria-hidden="false" aria-label="tier star">
              <img *ngIf='score.stars >= 1' class='star-icon' src='{{"assets/images/star.png"}}' height="15px" width="15px" aria-hidden="false" aria-label="tier star">
              <img *ngIf='score.stars >= 2' class='star-icon' src='{{"assets/images/star.png"}}' height="15px" width="15px" aria-hidden="false" aria-label="tier star">
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="Search">
      <div class="container" style="font-size: 12px">
        <div class="add-char-input mt-1">
          <mat-form-field class="center mt-3" appearance="outline">
            <mat-label>Character Name</mat-label>
            <input matInput
                   type="text"
                   [formControl]="searchName"
                   [(ngModel)]="searchCharName"
                   [matAutocomplete]="auto"
                   #trigger="matAutocompleteTrigger"
                   (keyup.enter)="trigger.closePanel();getScoreFromDb()">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option | titlecase">
                {{option | titlecase}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button class='ml-3' mat-raised-button color="primary" (click)="getScoreFromDb()">Search Character</button>
        </div>
        <div *ngIf="dbSearchCompleted">
          <table score-table mat-table class='mt-2 center mat-elevation-z8 tier-table' *ngIf="scoresInTier && scoresInTier.length > 0" [dataSource]="scoresInTier">
            <ng-container matColumnDef="rank">
                <th mat-header-cell *matHeaderCellDef> Rank </th>
                <td mat-cell *matCellDef="let score"> {{score.rank}}
            </ng-container>
            <ng-container matColumnDef="class">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let score">
                  <img class="class-icon" src='{{"assets/images/" + score.char_class + ".png"}}' height="35px" width="35px">
                </td>
              </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let score"> {{score.name | titlecase}} </td>
              </ng-container>
              <ng-container matColumnDef="score">
                <th mat-header-cell *matHeaderCellDef> Score </th>
                <td mat-cell *matCellDef="let score"> {{score.score}} </td>
              </ng-container>
              <ng-container matColumnDef="tier">
                <th mat-header-cell *matHeaderCellDef> Tier </th>
                <td mat-cell matTooltip='{{score.bracket}}' matTooltipPosition="left" *matCellDef="let score">
                  <img class='tier-icon'  matTooltipPosition="right" src='{{"assets/images/tier-" + score.tier + ".png"}}' height="25px" width="25px" aria-hidden="false" aria-label="tier star">
                  <img *ngIf='score.stars >= 0' class='star-icon' src='{{"assets/images/star.png"}}' height="15px" width="15px" aria-hidden="false" aria-label="tier star">
                  <img *ngIf='score.stars >= 1' class='star-icon' src='{{"assets/images/star.png"}}' height="15px" width="15px" aria-hidden="false" aria-label="tier star">
                  <img *ngIf='score.stars >= 2' class='star-icon' src='{{"assets/images/star.png"}}' height="15px" width="15px" aria-hidden="false" aria-label="tier star">
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row [ngClass]="{'highlight': score.name === selectedChar.name}" *matRowDef="let score; columns: displayedColumns;"></tr></table>
        </div>
      </div>

  </mat-tab>
  <mat-tab label='Add Character'>
    <div class="add-char-input mt-1" style="font-size: 12px">
      <mat-form-field class="center mt-3" appearance="outline">
        <mat-label>Character Name</mat-label>
        <input matInput type="text" [(ngModel)]="addCharName" />
      </mat-form-field>
      <button class='ml-3' mat-raised-button color="primary" (click)="addCharacter()">Add Character</button>
    </div>
  </mat-tab>
</mat-tab-group>
