

table{
  width: 60%;
}
.mat-column-rank{
  width: 10%
}
.mat-column-name{
  width: 25%
}
.mat-column-score{
  width: 25%
}

table.center {
  margin-left:auto;
  margin-right:auto;
}
.mat-input-element {
  color: white;
}
.mat-input-element::placeholder {
  color: white;
}
.mat-display-1{
  color: white;
}
.add-char-input{
  display: flex;
  align-items: center;
  justify-content: center;
}
.mat-header-cell {
  justify-content: center;
}
.mat-cell {
  justify-content:center;
}
.tier-1{
  color:yellow;
}
.tier-2{
  color:gray;
}
.highlight{
  background: gray;
}
.class-icon{
  border: solid 2px darkGray;
}
.icon-column{
  text-align: center;
}
.mat-column-tier {
  width: 15% !important;

}
