

table{
  width: 50%;
}
.mat-column-rank{
  width: 10%
}
.mat-column-name{
  width: 25%
}
.mat-column-score{
  width: 25%
}

table.center {
  margin-left:auto;
  margin-right:auto;
}
.mat-input-element {
  color: white;
}
.mat-input-element::placeholder {
  color: white;
}
