<header>
  <nav id="nav-bar" [ngClass]="{'navbar-short': isScrolled}" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark sticky">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']"><img [ngClass]="{'navbar-logo': isScrolled}" class="thought-logo" src="assets/images/thought-logo.png" alt="thought logo" /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow margin-right">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">

            <a class="nav-link text-white" [routerLink]="['/about-us']"><span class="nav-icons material-icons about-us-icon">wb_sunny</span> About Us</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/roster']"><span class="nav-icons material-icons">emoji_people</span> Roster</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/mplus']"><span class="nav-icons material-icons">signal_cellular_alt</span> Mythic+</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/logs']"><span class="nav-icons material-icons">assessment</span> Raid Logs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
