a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#nav-bar {
  padding: .5rem 0;
  background: #333333;
  transition: none;
  min-height: 77px;
  color: #232323;
  z-index:1;
}

.thought-logo
{
  height:3.8rem;
}

.nav-icons{
  vertical-align: middle;
}

.nav-link:hover {
  color: #c1c1c1 !important;
}

