@font-face {
  font-family: Delius;
  src: url("assets/fonts/DeliusUnicase-Regular.ttf");
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body {
  height: calc(100vh - 95px);
  background-color: #232323;
}

