.content {
  background: #232323;
}

ul{
    position:relative;
}

.content-container {
  margin-top: 20px;
  width: 90vh;
}

li {
  margin-bottom: 10px;
}

.section-header{
  text-align: center;
}
.sub-header{
  text-align: center;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-header {
  animation: 1s ease-ot 0s 1 slideInFromBottom;
}


