<div class="hero-image-container">
  <img class="hero-image" src="assets/images/shadowlands-no-top.png" />
  <span class="header-text-container">
    <h1 class="page-name fadeInBottom">About Us</h1>
  </span>
</div>

<div class="container-fluid content-container text-white">
  <h2 class="section-header"> &lt;Thought&gt; </h2>
  <h3 class="section-header"> Sargeras - US, Alliance</h3>
  <br/>
  <p>
        Welcome to our World Of Warcraft home, founded in 2010 and together ever since. We are a guild of likeminded individuals that seek to challenge ourselves in the various activities in World of Warcraft, while keeping a friendly and productive environment.
        We have fun playing video games while not messing up other people’s fun. If you are cool with that, you will probably fit right in.
  </p>
  <p>
    <ul>
      <li>Raiding</li>
      <li>Mythic Plus</li>
      <li>Monthly Guild Events</li>
      <li>Casual Discord hangouts with adult beverages</li>
    </ul>
  <p>Your ideas make it great! </p>
  <p>This guild is yours and we want to make it what you want. If you have an idea, suggestion, or change you would like to see implemented, throw up a thread in our Discord. </p>
  <p>“United we stand, divided we fall” </p>

  <br/>
  <mat-divider></mat-divider>
  <br/>

  <h4 class="section-header"> Our Philisophy </h4>
  <ul>
    <li>
      <strong>SELF-RELIANCE</strong> - We expect each member to be able to rely on their own resources and knowledge. Reaching out for assistance when appropriate does not conflict with this goal.
    </li>
    <li>
      <strong>RESPECT</strong> - Respect for the self, for people in the guild, and for the guild itself. Everyone’s time is precious, we expect everyone to treat raid nights with the respect they are due. If you need to do research because you might be unsure of boss mechanics, do it. Everyone is expected to respect the commitment that we have all made to excellence.
    </li>
    <li>
      <strong>ACCOUNTABILITY</strong> - Understanding the task at hand and execution will not always line up. Making mistakes is human and error is inevitable. What happens after the error occurs defines our character. If you made a mistake that wipes the raid, we’d like to hear about it. These details will allow us to progress further, faster.
    </li>
    <li>
      <strong>PERFORMANCE</strong> - Understanding what you need to do and actually doing it are two separate issues, but they are both equally important. Doing research on your class is a first step, applying and committing that research to rote muscle memory is the next.
    </li>
  </ul>
</div>
