.content {
  background: #232323;
}

ul{
    position:relative;
}

.content-container {
  margin-top: 20px;
  width: 90vh;
}

  ul li::before {
    position: absolute;
    left: 0px;
    content: '✓';
    margin-top: 2px;
  }
li {
  list-style: none;
  margin-bottom: 10px;
}
