<div class="hero-image-container">
  <img class="hero-image" src="assets/images/shadowlands-no-top.png" />
  <h1 class="page-name">Philosophy</h1>
</div>

<div class="container-fluid content-container text-white">
  <ul>
    <li>
      <strong>SELF-RELIANCE</strong> - We expect each member to be able to rely on their own resources and knowledge. Reaching out for assistance when appropriate does not conflict with this goal.
    </li>
    <li>
      <strong>RESPECT</strong> - Respect for the self, for people in the guild, and for the guild itself. Everyone’s time is precious, we expect everyone to treat raid nights with the respect they are due. If you need to do research because you might be unsure of boss mechanics, do it. Everyone is expected to respect the commitment that we have all made to excellence.
    </li>
    <li>
      <strong>ACCOUNTABILITY</strong> - Understanding the task at hand and execution will not always line up. Making mistakes is human and error is inevitable. What happens after the error occurs defines our character. If you made a mistake that wipes the raid, we’d like to hear about it. These details will allow us to progress further, faster.
    </li>
    <li>
      <strong>PERFORMANCE</strong> - Understanding what you need to do and actually doing it are two separate issues, but they are both equally important. Doing research on your class is a first step, applying and committing that research to rote muscle memory is the next.
    </li>
  </ul>
</div>
